body {
    margin: 0;
    font-family: 'Helvetica';
    color: #FAFAFA;
    line-height: 1.6;
    position: relative;
    background: #151718;
  }


  * {
    box-sizing: border-box;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .containerStep3 {
      width: 550px;
      height: 100%;
      margin: 0 auto 0 0;
      padding-top: 130px;
      padding-left: 90px;
  }

  .pageHeader {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 12px;
  }

  .description {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8
  }

  .subDescription {
    max-width: 309px;
    margin-bottom: 36px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(250, 250, 250, 0.6);
  }

.collectionExamples {
  margin-bottom: 65px;
}


.collectionCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    width: 282px;
    height: 137px;
    background: #2a2b2d;
    border-radius: 20px;
    z-index: 1;
}

.card2 {
  margin-left: 100px;
  margin-top: -30px;
  z-index: 2 !important;
  position: relative;
}

.singerAbout {
  padding: 3px 0;
  width: 258px;
  background: #44444b;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.singerImage {
  width: 18px;
  height: 18px;
  margin: auto 5px auto 3px;
  display: flex;
}

.singerName {
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  margin-left: 6px;
  line-height: 11px;
}


.track {
  display: flex;
  margin-top: 12px;
  width: 100%;
  border-bottom: 1px solid #3e3f42;
}

.playButtonImage {
  margin-right: 10px;
  margin-top: 2px;
}

.songName {
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  margin-bottom: 2px;
}

.singerNameSmall {
  font-weight: 400;
  font-size: 6.8px;
  line-height: 10px;
  color: rgba(250, 250, 250, 0.6);
}


.songWaves {
  height: 12px;
  display: flex;
  margin-bottom: -1px;
}

.rowButtons {
  display: flex;
  justify-content: space-evenly;
}

  .ctaButton {
    display: flex;
    justify-content: center;
    padding: 12px 24px;
    width: 188px;
    height: 48px;
    background: #8A4E14;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(250, 250, 250, 0.3);
    text-decoration: none;
  }


  .textButton {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: none;
  }

