body {
    margin: 0;
    font-family: 'Helvetica';
    color: #FAFAFA;
    line-height: 1.6;
    position: relative;
    background: #151718;
}


* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.containerStep4 {
    width: 1256px;
    height: 100%;
    margin: 0 auto;
}

.paymentAndTariffs {
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.paymentCard {
    width: 273px;
    height: 510px;
    background: #2f3033;
    border-radius: 20px;
    padding: 24px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tariffHeader {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 27px;
}

.tariffPrice {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 4px;
}

.tariffdescription {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #aaaaab;
    margin-bottom: 24px;
}

.tariffdescription span {
    color: #FF8710;
}

.tariffAdvantages {
    margin-left: 0;
}

.tariffAdvantages ul {
    list-style-type: none;
    padding: 0;
}

.tariffAdvantages li {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
}

.tariffAdvantages img {
    margin-right: 12px;
}

.popularCard {
    position: relative;
}

.substraction {
    height: 26px;
    background: #2f3033;
    border-radius: 20px 20px 0 0;
}

.theMostPopular {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #2a2a2b;
    border-radius: 20px 20px 10px 10px;
    top: -35px;
    left: 0;
    z-index: -1;
}

.theMostPopular p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #a7a7a7;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 9px;
}

.ctaButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    width: 100%;
    height: 36px;
    background: #FF8710;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
}

.paymentCardWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
